/******************* header *******************/




/******************* header-top *******************/

.header-top {
  background-color: black;
  padding-right: 10px;
}



/******************* header-bottom *******************/

.search-btn {
  font-size: 20px;
  padding-top: 10px;
}

.header-bottom ul li {
  padding-right: 15px;
}



/******************* jumbo *******************/

.mf-jumbotron {
  height: 500px;
  background-image: url(../css/img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
}



/******************* main *******************/




/******************* playstation-5 *******************/




/******************* it-takes-two *******************/





/******************* nuove-uscite *******************/




/******************* playstation-4 *******************/




/******************* playstation-plus *******************/




/******************* playstation-sales *******************/




/******************* playstation-now *******************/




/******************* social-media *******************/




/******************* footer *******************/