/******************* header *******************/

header {
  height: 100px;
}

/******************* header-top *******************/

.header-top {
  height: 30px;
  background-color: black;
}

.header-top img {
  height: 15px;
  padding-right: 10px;
}

/******************* header-bottom *******************/

.header-bottom {
  height: 70px;
}

.mf-lens {
  height: 25px;
}

.mf-text-black {
  color: black !important;
}

.header-bottom .mf-border-btn:hover {
  outline: solid 1px #363636;
}

/******************* jumbo *******************/

.mf-jumbotron {
  margin-top: 100px;
  padding: 200px 0 50px 0;
  background-image: url(../css/img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
}

.mf-jumbotron .mf-border-btn:hover {
  outline: solid 2px #dc3545;
}

/******************* main *******************/
/******************* playstation-5 top/center/bottom *******************/

.playstation-5-top {
  margin-top: 30px;
  margin-bottom: 70px;
} 

.mf-box-ps5 img {
  width: 100%;
  border-radius: 20px;
}

.mf-border {
  border-radius: 20px;
}

.mf-padding {
  padding: 2px;
  cursor: pointer;
}

.mf-move-up {
  transition: 0.5s;
}

.mf-move-up:hover {
  transform: translate(0, -10%);
}

.playstation-5-top h4, .playstation-5-center h4 {
  color: grey;
}

.mf-play5-thumb {
  width: 100%;
}

.playstation-5-center .row {
  margin-bottom: 50px;
}

.mf-text-limits {
  color: #3891d8;
}

.playstation-5-bottom {
  margin-bottom: 20px;
}

.mf-box-ps5-small img {
  width: 70%;
}

.mf-border-blue {
  border-color: #3790d8!important;
}

/******************* it-takes-two *******************/

.mf-take-two {
  padding: 200px 0 50px 0;
  background-image: url(../css/img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-position: center;
}

/******************* nuove-uscite *******************/

.nuove-uscite {
  background-color: #1f1f1f;
}

.mf-box-games img {
  width: 100%;
  border-radius: 20px;
}

/******************* playstation-4 *******************/

.playstation-4 {
  margin: 50px 0;
}

.playstation-4 h4 {
  color: grey;
}

.mf-box-ps4 img {
  width: 100%;
}

.playstation-4 .mf-border-btn:hover {
  outline: solid 1px #0d6efd;
}


/******************* playstation-plus *******************/

.playstation-plus {
  background-color: #bebcbb;
}

.mf-box-plus img {
  width: 60%;
}

.mf-box-plus-2 img {
  width: 100%;
}

.mf-btn-plus {
  background-color: #d9dadc;
  color: #3167e5;
}

/******************* playstation-sales *******************/

.playstation-sales {
  margin: 50px 0;
}

.playstation-sales h4 {
  color: grey;
}

.mf-box-sales img {
  width: 100%;
}

/******************* playstation-now *******************/

.playstation-now {
  background-color: #161c3b;
}

.mf-box-now img {
  width: 60%;
}

.mf-box-now-2 img {
  width: 100%;
}

.playstation-now .mf-border-btn:hover {
  outline: solid 1px #f8f9fa;
}

/******************* social-media *******************/

.social-media {
  margin: 50px 0;
}

.mf-box-social img {
  width: 100%;
}

/******************* footer *******************/

footer {
  padding: 50px 0;
  background-color: #00439c;
}

.mf-logo-ps-small {
  width: 50%;
}

.mf-logo-ps-small img {
  width: 100%;
}

.mf-globe {
  width: 10%;
}

.mf-logo-sony {
  width: 20%;
}

.mf-logo-sony img {
  width: 100%;
}

.mf-style-removed {
  list-style: none;
}