/******************* header *******************/

header {
  height: 100px;
}



/******************* header-top *******************/

.header-top {
  height: 30px;
  background-color: black;
  padding-right: 10px;
}



/******************* header-bottom *******************/

.header-bottom {
  height: 70px;
}

.search-btn {
  font-size: 20px;
  padding-top: 10px;
}

.header-bottom ul li {
  padding-right: 15px;
}



/******************* jumbo *******************/

.mf-jumbotron {
  margin-top: 100px;
  padding: 200px 0 50px 0;
  background-image: url(../css/img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
}



/******************* main *******************/




/******************* playstation-5 top/center/bottom *******************/

.playstation-5-top {
  margin-top: 30px;
  margin-bottom: 70px;
} 

.mf-box-ps5 img {
  width: 100%;
  border-radius: 20px;
}

.playstation-5-top h4, .playstation-5-center h4 {
  color: grey;
}

.mf-play5-thumb {
  width: 100%;
}

.playstation-5-center .row {
  margin-bottom: 50px;
}

.playstation-5-bottom {
  margin-bottom: 20px;
}

.mf-box-ps5-small img {
  width: 70%;
}

.mf-border-blue:hover {
  border-bottom: 2px solid blue;
}


/******************* it-takes-two *******************/





/******************* nuove-uscite *******************/




/******************* playstation-4 *******************/




/******************* playstation-plus *******************/




/******************* playstation-sales *******************/




/******************* playstation-now *******************/




/******************* social-media *******************/




/******************* footer *******************/